@import ./typography


div#header
    width: 100%
    overflow: hidden
    h1
        z-index: 1
        display: block
        text-align: center
        font-size: 2.5rem
        height: 1em
        line-height: 1em
div#categories
    width: 95%
    margin: 0 auto
    display: grid
    grid-template-areas: "grace interior" "grace interior" "children interior" "children subtitle" "children paintings" "public paintings" "public paintings"
    grid-template-columns: repeat( 2, 1fr)
    grid-template-rows: repeat( 7, 22vw)
    grid-gap: 2.5vw
    & div:nth-child(1)        // Children
        grid-area: children
        background-image: url('../img/childrenM.jpg')
    & div:nth-child(2)        // Interiors
        grid-area: interior
        background-image: url('../img/interiorMM.jpg')
    & div:nth-child(3)        // Grace
        grid-area: grace
        background-image: url('../img/graceM.jpg')
    & div:nth-child(4)       // Paintings
        grid-area: paintings
        background-image: url('../img/paintingsM.jpg')
    & div:nth-child(5)        // Public
        grid-area: public
        background-image: url('../img/publicM.jpg')
    h2#subTitle
        grid-area: subtitle
        font-size: 1.35rem
        line-height: 1.75em
        margin: 0
        text-shadow: 0px 0px 1rem #bbb
        align-self: center
    div
        box-shadow: 0 0 5vw #bbb
        border-radius: 0.5rem
        overflow: hidden
        background-size: 100% auto
        background-repeat: no-repeat
        a
            display: block
            position: relative
            width: 100%
            height: 100%
            p
                background-color: white
                position: absolute
                bottom: 0px
                width: 100%
                z-index: 5
                text-align: center
                color: black
                text-decoration: underline
                font-size: 1.2rem
                margin: 0
                line-height: 2.5em
                height: 2.5em
            img
                background-color: grey
                display: block
                position: absolute
                height: 100%
                width: auto

div#footer
    width: 100%
    ul
        width: 100%
        margin: 5vw 0
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-evenly
        padding: 0
        justify-content: center
        li
            flex-basis: 45%
            list-style-type: none
            display: block
            font-size: 1.2rem
            margin: 0.15em 0
            height: 1.7em
            a
                font-size: 1.2rem
                height: 2em
                text-shadow: 0px 0px 1rem #bbb
                line-height: 1.7em
                display: block

@media screen and (min-aspect-ratio: 4/5)
    div#categories
        grid-template-areas: "grace children public" "interior children paintings" "interior subtitle paintings"
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 30vh 15vh 30vh
        div
            background-size: cover
    div#footer ul
        margin: 2.5vw 0
        li
            flex-basis: 25%
            a::before
                margin: 0 1.5rem

@media screen and (min-aspect-ratio: 29/20)
    div#header
        margin: 6vh 0
        h1
            font-size: 14vh
            margin: 0
            height: 1em
            line-height: 1em

    div#categories
        width: 95vw
        height: 60vh
        grid-template-areas: "children grace paintings interior public"
        grid-template-rows: repeat(1, 1fr)
        grid-template-columns: repeat(5, 1fr)
        a p
            font-size: 3.5vh !important
        #subTitle
            display: none

    div#footer
        width: 100%
        z-index: 10
        ul
            margin: 0
            height: 14vh
            align-content: center
            li
                flex-basis: 22.5%
                margin: 0
                height: auto
                a
                    display: block
                    position: relative
                    height: 100%
                    width: 100%
                    text-align: center
                    margin: 0
                    height: 2em
                    font-size: 4vh
                    line-height: 2em
                & a::before
                    display: none
