.title {
    margin: 0em !important;
    font-size: 5em !important;
}
img{
    width: auto !important;
    height: 15em !important;
    font-size: 1em !important;
}
.column{
    width: 100% !important;
}
.columnItem{
    display: inline-block !important;
    width: auto !important;
    margin: 0.5% !important;
}
#fullup{
    display:none;
}
#bottom a {
    margin-top: -1em !important;
}
#bottom a {
    font-size: 2.5em !important;
    width: 17% !important;
    font-weight: 200 !important;
}
#milost {
    margin: 0.5em 15%;
    font-size: 1.8em;
    text-align: center;
    line-height: 2em;
    font-weight: 300;
}