.title {
    margin: 0 !important;
    font-size: 5em !important;
}

#space > div {
    display: inline-block;
    margin: 0.5em !important;
}

#space div p {
    margin-left: 0px;
    font-size: 1.2em;
    padding-left: 2em;
}

body div div {
    width: auto !important;
}

    body div div div {
        width: auto;
        margin-bottom: 0.5em;
    }

img {
    width: auto !important;
    height: 25em !important;
}

#bottom a {
    margin-top: -1em !important;
    font-size: 2.2em !important;
    width: 18% !important;
    font-weight: 200 !important;
}

#bj img {
    height: 17em !important;
}
