.title {
    margin: 0.2em 0em !important;
    font-size: 7em !important;
    line-height: 1em;
}

#topTitle {
    text-align: left;
    width: 100% !important;
    margin: 0em;
    margin-bottom: 0.2em !important;
    margin-top: 0.1em !important;
}

    #topTitle p {
        margin: 0.2em 0em !important;
        margin-left: 20% !important;
        width: 60% !important;
        display: inline-block;
        text-align: center;
    }

#embassy {
    width: 19% !important;
    display: inline-block !important;
    height: 1em !important;
    font-size: 1em !important;
    padding: 0px !important;
    margin: 0px auto !important;
    text-align: center !important;
}

.embassyLink {
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    padding: 0px !important;
    vertical-align: text-top !important;
    margin: 0.5em 0% 0% 0.5vw !important;
}

.flag {
    height: 100% !important;
    vertical-align: text-top !important;
    width: auto !important;
    position: relative !important;
    vertical-align: middle !important;
    display: block !important;
    margin: 0em !important;
}

#container {
    overflow-x: hidden !important;
    margin-bottom: 0px !important;
}

.verticalScroll {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
    white-space: nowrap;
}

#sScroll {
    width: 100% !important;
    margin: 0 !important;
}

.section {
    width: 18.5% !important;
    margin: 0.5% !important;
    transition: 0.5s;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.section div {
    width: 100%;
    text-align: center;
}

    .section div p {
        font-size: 3em;
        margin: 0px;
        margin-bottom: 0.2em;
        font-weight: 100;
    }

#bottom {
    margin-top: -7em !important;
}

#leftLink {
    margin-right: 12% !important;
}

#rightLink {
    margin-left: 12% !important;
}

    #bottom a {
        font-size: 3em !important;
        width: 18% !important;
        font-weight: 100 !important;
    }

        #bottom a p {
            padding: 0;
            margin: 0.5em 0em;
        }