#container {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    border: 0;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-bottom: 6vw;
}

.verticalScroll {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
    white-space: nowrap;
}

#lScroll {
    width: auto;
    text-align: left;
}

    #lScroll a {
        position: relative;
        display: inline-block;
        height: 70em;
        margin: 0.1% 0;
        padding: 0;
    }

        #lScroll a img {
            height: 100%;
            width: auto;
            padding: 0 10px;
        }

#bottom {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

    #bottom a {
        text-decoration: none;
        display: inline-block;
        margin: 0;
        font-size: 3.5em;
        width: 33%;
        border: 0;
        padding: 0;
        color: rgba(92, 92, 92, 1);
    }

        #bottom a p {
            padding: 0;
            margin: 0.5em 0em;
        }
