@font-face {
  font-family: "base";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "header";
  src: url("../../assets/fonts/Oswald.ttf");
}

@font-face {
  font-family: "text";
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

div, p, a, ul, li {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1, h2, h3 {
  font-family: header;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

p, a, li, div {
  font-family: base;
  letter-spacing: 0.05em;
  font-weight: 400;
}

h1, h2, h3, a, li, p {
  color: #222;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1em;
  margin: 0.75em 0;
}

a, p {
  text-decoration: none;
}

#content {
  width: calc(100vw - 2rem);
  margin: 0px auto;
}

#content p {
  margin-top: 0;
  font-size: 1.12rem;
  letter-spacing: 0.02rem;
  line-height: 1.5em;
  margin-bottom: 2em;
}

div#footer {
  width: 100%;
}

div#footer ul {
  width: 100%;
  margin: 5vw 0 2.5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#footer ul li.current-menu-item {
  display: none;
}

div#footer ul li {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  list-style-type: none;
  display: block;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5em;
  height: 1.7em;
}

div#footer ul li a {
  color: black;
  font-size: 1.2rem;
  height: 1.7em;
  text-shadow: 0px 0px 1rem #bbb;
  line-height: 1.7em;
  display: block;
  position: relative;
}

@media screen and (min-aspect-ratio: 4 / 5) {
  h1 {
    padding-left: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin: 1em 0;
  }
  #content {
    width: calc(100vw - 12rem);
    margin-left: 6rem;
  }
  #content p {
    max-width: 50em;
    margin: 0 auto 2em auto;
  }
}

@media screen and (min-aspect-ratio: 29 / 20) {
  h1 {
    position: fixed;
    top: 0;
    left: 0;
  }
  div#content {
    width: 70vw;
    margin-top: 8rem;
    margin-left: 20vw;
  }
  div#footer {
    width: 18vw;
    position: fixed;
    display: block;
    top: 7rem;
    margin-left: 3rem;
    z-index: 10;
  }
  div#footer ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div#footer ul li {
    list-style-type: none;
    display: block;
    font-size: 1.2rem;
    margin: 0px 0.5rem;
    height: 3em;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  div#footer ul li a {
    color: black;
    font-size: 1.2rem;
    height: 3em;
    text-shadow: 0px 0px 1rem #bbb;
    line-height: 3em;
    display: block;
    position: relative;
  }
}
/*# sourceMappingURL=page.css.map */