@import ../_typography
@import ../_navigation
@import ../_responsive

$delay: 0.75s
$timing-function: ease-in-out

body.noscroll 
    overflow-y: hidden

nav 
    z-index: 7

.wp-block-gallery 
    width: 95%
    margin: 0 auto
    max-width: 1000px
    background-color: transparent

    .blocks-gallery-item    
        border-radius: $radius
        cursor: zoom-in
        background-color: transparent
        overflow: hidden

        img 
            opacity: 1
            transition: none

            &.zoomed
                opacity: 0

.content 
    margin-top: 1em
    z-index: 5

.zoombox 
    top: 0
    left: 0
    display: block
    visibility: hidden
    border-radius: $radius
    overflow: hidden
    cursor: zoom-in
    background-position: center
    background-size: cover
    position: fixed
    transition: none
    z-index: -5

.zoomed.zoombox
    z-index: 10
    visibility: visible
    cursor: zoom-out
    transition-duration: $delay
    transition-timing-function: $timing-function
    transition-property: top, left, width, height

.blurbox
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -5
    display: block
    transition: backdrop-filter $delay $timing-function, background-color ($delay * 0.75) $timing-function
    backdrop-filter: blur(0)
    background-color: transparent

    &.zoomed
        z-index: 7

//@include respond(square)
body > h1 
    margin-top: 1.75em

@include respond (wide)

    body > h1 
        margin-top: 0.5em  

    nav.main, nav.main.full-height
        top: 0
        height: unset

        .title-wrapper
            display: none

        div.links
            padding-bottom: 0

            .menu .menu-item .sub-menu
                top: 1.75em
